* {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  width: 100vw;
  height: 630px;
}

.contents {
  width: 240px;
  height: 630px;
}

h2 {
  font-size: 16px;
  color: #4bac61;
  letter-spacing: 5%;
  font-weight: 900;
}

.intro {
  font-size: 16px;
  color: #5fb372;
  letter-spacing: 7%;
  font-weight: 700;
  line-height: 40px;
}

.bigLogo {
  width: 170px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.text_b {
  font-size: 20px;
  color: #4bac61;
  letter-spacing: 5%;
  font-weight: 900;
}
.buttonArea {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 155px;
}
.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  border: 4px solid #4bac61;
}
.my-button img {
  margin-right: 10px;
  background-color: #ffffff;
}
.my-button span {
  display: inline-block;
  background-color: #ffffff;
}

.lensLogo {
  width: 21px;
  background-color: #ffffff;
}
